@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;900&display=swap');
@import 'framework.min.css';

/* 1. Common styles */

body {
  font-family: Tajawal, Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 26px;
  color: #1d1b1b;
  -webkit-font-smoothing: antialiased;
  direction: rtl;
  overflow-x: hidden;
}
nav, header, section, footer {
  position: relative;
}

header, section, [data-bg-src], [data-bg-src-2x] {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

header, section {
  overflow: hidden;
}
ul{
  list-style:circle;
}
header nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navigation_1 a{
  color: #92278F;
}
.navigation_1 a:hover{
  color: #b454b1;
}
.navbar-expand-lg {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
nav {
  width: 100%;
}
nav.transparent {
  background: transparent;
}
ul.navbar-nav{
      margin: 0 auto;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border: none;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow:none;
}

a{
  color: unset;
  text-decoration: none;
}
a.link.img_link img {
    width: 100%;
}
@-moz-document url-prefix() {
  a.link.img_link img {
    width: 150px;
}
}

@media (max-width: 900px) {
ul.navbar-nav{
     text-align: right;
}
.login-dev{
  text-align: right;
}
a.link.img_link img {
    width: 80%;
}
}
a, button {
  cursor: pointer;
  transition: all 0.25s;
}
a:hover, button:hover {
  text-decoration: none;
}
a:active, a:focus, button:active, button:focus {
  text-decoration: none;
  outline: none;
}

button {
  border: none;
  outline: none !important;
}
.btn.action-2 {
    background-color: #92278F;
    color: #fff;
}
.btn.action-2:hover{
   background-color: #b454b1;
       color: #fff;
}
input, textarea {
  border: 0;
  outline: none;
  background: transparent;
  color: #1E0E62;
  resize: none;
}

label {
  margin-bottom: 0;
  font-weight: 500;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  font-weight: 700;
  font-family: Tajawal, Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-size: 58px;
  line-height: 70px;
}
h1.big, h2.big {
  font-size: 72px;
  line-height: 86px;
}
h1.small, h2.small {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
}

h3 {
  font-size: 42px;
  line-height: 52px;
}

b, strong {
  font-weight: 700;
}
section.content_2{
  /* background-color: #f9eef9; */
  background: antiquewhite;
  /* background: #fff5e8; */
}

.feature_1 .card{
border: none;
padding: 2rem 1rem;
background-color: #fdfdfd;
background-color: #fbfbfb;
margin: 0 1rem;
}
.feature_1 .card .card-img{
padding: 1rem;
width: 80%;
margin: 0 auto;
border: 1px white solid;
}
.feature_1 .card:hover{
   cursor: pointer;
   background-color: white;
   box-shadow: 0px 1px 4px 0px #ccc;
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}

/* faq-section */
section#faq{
      margin-top: 5rem;
}
.accordion-item {
    background-color: #fff;
    border: none;
}
 .accordion .accordion-item .accordion-header .accordion-button:focus{
    border: none;
    box-shadow: 0px 0px 4px 1px #e6e6e6;
}

.accordion .accordion-item .accordion-header .accordion-button{
    color: #92278f;
    font-weight: 500;
    background: transparent;
    border: none;
    box-shadow: unset;
    font-size: 1.1rem;
}

.accordion .accordion-item .accordion-header .accordion-button.collapsed{
    color: #1d1b1b;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.accordion-button::after {
    margin-right: auto;
margin-left: unset;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}
.accordion .accordion-item .accordion-collapse .accordion-body{
    background: #fbfbfb;
}

.accordion .accordion-item .accordion-collapse .accordion-body .list-group{
    border-right: 1px solid #cecece;
    border-radius: 0;
}

.accordion .accordion-item .accordion-collapse .accordion-body .list-group .list-group-item{
    background: transparent;
    border: none;
}

.accordion .accordion-item .accordion-collapse .accordion-body .list-group .list-group-item.active{
color: #af49ac;
}
 .Qustions {
    border-left: 2px solid #b57fb3;
    padding-left: 1.5rem;
}
.answers{
      padding: 1rem 2rem 1rem 1rem;
}
 .answers .tab-content .tab-pane ol{
    list-style: arabic-indic;
}
 .answers .tab-content .tab-pane ol li ,  .answers .tab-content .tab-pane ul li{
    margin-bottom: 20px;
}

.answers .tab-content .tab-pane ol li p, .answers .tab-content .tab-pane ul li p{
    margin-bottom: 20px;
}

.answers .tab-content .tab-pane ol li a img , .answers .tab-content .tab-pane ul li a img{
    border-radius: 2px;
}
#security{
    margin-top: 5rem;
}
.primary-description{
    width: 90%;
    MARGIN: 1rem auto;
    text-align: justify;
    line-height: 30px;
}
 .list-group{
    border-radius: 3px;
}
.list-group-item {
    color: #4B4F56;
    padding: 2rem 1.5rem;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: unset;
    font-size: 1.1rem;
    font-weight: 500;
}
.list-group-item.active {
    z-index: 2;
    background: white;
    color: #92278f;
    border:none;
    box-shadow: 0px 0px 4px 1px #e6e6e6;
}
 .accordion .list-group-item {
    box-shadow: unset;
    font-size: 1rem;
    font-weight: 500;
} 
.answers .tab-pane a{
  color: #f7941d;
}
.note{
    border: 2px solid #9b9fa2;
    padding: 1.5rem;
  }

.alert {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 970px;
  z-index: 2000;
}
.alert-dismissable .close, .alert-dismissible .close {
  top: 0;
}

[data-aos=fade-down] {
  transform: translate3d(0, -35px, 0);
}

[data-aos=fade-up] {
  transform: translate3d(0, 35px, 0);
}

.container {
  position: relative;
}

::-moz-selection {
  background: #E93A7D;
  color: #ffffff;
}

::-webkit-selection {
  background: #E93A7D;
  color: #ffffff;
}

::selection {
  background: #E93A7D;
  color: #ffffff;
}



/* 2. Common responsive styles */
/* Smaller than 1200px */
@media (max-width: 1199.98px) {
  header[class^=pt-], header[class*=" pt-"], section[class^=pt-], section[class*=" pt-"] {
    padding-top: 80px;
  }
  header[class^=pb-], header[class*=" pb-"], section[class^=pb-], section[class*=" pb-"] {
    padding-bottom: 80px;
  }

  h1 br, h2 br, h3 br, .text-adaptive br {
    display: none;
  }

  h1, h2 {
    font-size: 52px;
    line-height: 62px;
  }
  h1.big, h2.big {
    font-size: 62px;
    line-height: 72px;
  }
  h1.small, h2.small {
    font-size: 36px;
    line-height: 46px;
  }

  h3 {
    font-size: 36px;
    line-height: 46px;
  }

  .navigation_mobile {
    display: block;
  }
}
/* Smaller than 992px */
@media (max-width: 991.98px) {
  h1, h2 {
    font-size: 42px;
    line-height: 52px;
  }
  h1.big, h2.big {
    font-size: 52px;
    line-height: 62px;
  }
  h1.small, h2.small {
    font-size: 32px;
    line-height: 42px;
  }

  h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .text-adaptive.f-24 {
    font-size: 22px;
    line-height: 32px;
  }
  .text-adaptive.f-22 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-adaptive.f-20 {
    font-size: 18px;
    line-height: 28px;
  }

  .alert {
    top: 10px;
    left: 20px;
    right: 20px;
    transform: none;
    width: auto;
    padding-left: 40px;
  }
}
/* Smaller than 768px */
@media (max-width: 767.98px) {
  h1, h2 {
    font-size: 32px;
    line-height: 42px;
  }
  h1.big, h2.big {
    font-size: 42px;
    line-height: 52px;
  }
  h1.small, h2.small {
    font-size: 26px;
    line-height: 36px;
  }

  h3 {
    font-size: 26px;
    line-height: 36px;
  }

  .text-adaptive.f-24 {
    font-size: 20px;
    line-height: 30px;
  }
  .text-adaptive.f-22 {
    font-size: 18px;
    line-height: 28px;
  }
  .text-adaptive.f-20 {
    font-size: 16px;
    line-height: 26px;
  }
  .text-adaptive.f-18 {
    font-size: 16px;
    line-height: 26px;
  }

  .btn.lg {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 500;
  }
  .btn.lg[class^=border-], .btn.lg[class*=" border-"] {
    line-height: 46px;
  }
  .btn.xl {
    height: 60px;
    line-height: 60px;
    padding: 0 35px;
    font-size: 18px;
    font-weight: 500;
  }
  .btn.xl[class^=border-], .btn.xl[class*=" border-"] {
    line-height: 56px;
  }

  .input.lg {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
  }
}
/* Smaller than 576px */
@media (max-width: 575.98px) {
  h1, h2 {
    font-size: 26px;
    line-height: 36px;
  }
  h1.big, h2.big {
    font-size: 32px;
    line-height: 42px;
  }
  h1.small, h2.small {
    font-size: 22px;
    line-height: 32px;
  }

  .btn.xl {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
  }
  .btn.xl[class^=border-], .btn.xl[class*=" border-"] {
    line-height: 46px;
  }
}
/* 3. Headers */
@media (max-width: 767.98px) {
  .header_1 .text-adaptive {
    margin-top: 20px;
  }
  .header_1 .buttons {
    margin-top: 40px;
  }
}

@media (max-width: 767.98px) {
  .header_2 .text-adaptive {
    margin-top: 20px;
  }
  .header_2 form {
    margin-top: 40px;
  }
  .header_2 form .input {
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  .header_2 form .btn {
    margin-top: 15px;
  }
}

/* 4. Navigations */
@media (max-width: 1199.98px) {
  .navigation_2 a {
    margin: 0 15px;
  }
  .navigation_2 .dropdown a {
    margin: 0;
  }
}

/* 5. Contents */
@media (max-width: 767.98px) {
  .content_1 h2 {
    margin-top: 10px;
  }
}

@media (max-width: 991.98px) {
  .content_2 .text-adaptive {
    margin-top: 15px;
  }
}

/* 8. Forms */
@media (max-width: 467.98px) {
  .form_1 h2 {
    margin-bottom: 20px;
  }
  .form_1 form {
    padding: 30px;
  }
}
@media (max-width: 359.98px) {
  .form_1 form {
    padding: 30px 20px;
  }
}

.form_2 .img_holder img {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
@media (max-width: 1199.98px) {
  .form_2 form {
    padding: 80px 0;
  }
  .form_2 .buttons {
    margin-top: 10px;
  }
  .form_2 button {
    margin-right: 0px;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .form_2 form {
    max-width: 290px;
    margin: 0 auto;
  }
}



/* 10. Teams */
.team_1 .block {
  border: 2px solid #EBEAED;
}
.team_1 .block_socials {
  border-top: 2px solid #EBEAED;
}
.team_1 .block_socials .border_right {
  border-right: 2px solid #EBEAED;
}

.team_2 .bordered {
  border-left: 2px solid #EBEAED;
  border-right: 2px solid #EBEAED;
}
@media (max-width: 767.98px) {
  .team_2 .bordered {
    border: none;
    border-top: 2px solid #EBEAED;
    border-bottom: 2px solid #EBEAED;
  }
}


/* 12. Contacts */
.contact_1 textarea.input {
  height: 170px;
}
.contact_1 .separate {
  position: relative;
}
.contact_1 .separate:before, .contact_1 .separate:after {
  content: " ";
  display: block;
  position: absolute;
  width: calc(100% / 2 - 60px);
  left: 0;
  top: 50%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.contact_1 .separate:after {
  left: auto;
  right: 0;
}

.contact_2 textarea.input {
  height: 170px;
}

/* 14. Footers */
@media (max-width: 575.98px) {
  .footer_1 .links a {
    margin: 0 10px;
  }
}



/* modals */
.account-modal .modal-content{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    overflow: hidden;
}

.account-modal .modal-body{
    padding: 0;
    position: relative;
}

.account-modal .modal-body .close-btn{
    position: absolute;
    top: 40px;
    left: 40px;
    color: #92278f;
    background-color: transparent;
    padding: 0;
    border: none;
}

.account-modal .modal-body .close-btn i{
    line-height: 1;
}

.account-modal .modal-body .row:not(.account-modal .modal-body .tab-pane .row){
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.account-modal .modal-body .row>*:not(.account-modal .modal-body .tab-pane .row>*){
    padding: 0;
}

.account-modal .modal-body .row .slogan-right{
    padding: 3rem 0;
    height: 100%;
    background: #92278f;
    color: #FFF;
}

.account-modal .modal-body .row .slogan-right .logo{
      display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.account-modal .modal-body .row .slogan-right .logo img{
    width: 45px;
}

.account-modal .modal-body .row .slogan-right .nav-pills .nav-link{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border-right: 2px solid transparent;
    padding: 15px 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: none;
}

.account-modal .modal-body .row .slogan-right .nav-pills .nav-link .link-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.account-modal .modal-body .row .slogan-right .nav-pills .nav-link.active .link-bg{
    background-color: #fdfdfd;
}

.account-modal .modal-body .row .slogan-right .nav-pills .nav-link.active{
    background-color: transparent;
    color: #92278f;
    background: rgb(146 39 143 / 10%);
}

.account-modal .modal-body .row .slogan-right .nav-pills .nav-link:not(:last-of-type){
    margin-bottom: 20px;
}

.account-modal .modal-body .row .slogan-right .nav-pills .nav-link i,
.account-modal .modal-body .row .slogan-right .nav-pills .nav-link p{
    z-index: 2;
}

.account-modal .modal-body .row .slogan-right .nav-pills .nav-link i{
    margin-bottom: 6px;
    font-size: 16px;
}

.account-modal .modal-body .row .slogan-left{
    background: #fdfdfd;
    height: 100%;
}

.account-modal .modal-body .row .slogan-left .tab-content{
    height: 100%;
    display: flex;
    align-items: center;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab{
    width: 100%;
    padding: 6rem 14rem;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-title,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-title{
    color: #9f9f9f;
    margin-bottom: 2rem;
    line-height: 1.8;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-title>*,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-title>*{
    display: inline;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-title p,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-title p{
    font-weight: 500;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-title h4,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-title h4{
    color: #92278f;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-title span,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-title span{
    width: 10px;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group:not(:last-of-type),
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group:not(:last-of-type),
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .row .form-group{
    margin-bottom: 20px;
}

.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .row:last-of-type .form-group{
    margin-bottom: 0;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group label,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group label{
    color: #8b8b8b;
    margin-bottom: 8px;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .form-control,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .form-control{
    text-align: right;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
}

.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .form-control::-webkit-outer-spin-button,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .form-control::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .form-control[type=number] {
  -moz-appearance: textfield;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .form-control::placeholder,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .form-control::placeholder{
    color: #aaa;
    font-size: 14px;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .pass-field{
    position: relative;
    display: flex;
    align-items: center;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .pass-field .form-control{
   padding: 10px 20px 10px 170px; 
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .pass-field .forgot{
    color: #2f4858;
    text-decoration: none;
    font-weight: 500;
    position: absolute;
    left: 20px;
    font-size: 14px;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .controls,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .controls .submit-btn,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .controls .submit-btn {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background: rgb(146 39 143 / 80%);
    color: #FFF;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

    .account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .controls .submit-btn i,
    .account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .controls .submit-btn i{
        margin-left: 10px;
    }

    .account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .controls .submit-btn:hover,
    .account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .controls .submit-btn:hover {
        background: rgb(146 39 143 / 100%);
    }

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .controls .not-member,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .controls .already-member{
    color: #2f4858;
}

.account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .controls .not-member a,
.account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .controls .already-member a{
    color: #f7941d;
    text-decoration: none;
    font-weight: 500;
}

.account-modal .modal-body .row .slogan-left .tab-content .signup-tab{
    padding: 6rem;
}

@media screen and (max-width: 1024px){
    .account-modal .modal-body .row .slogan-left .tab-content .login-tab{
        padding: 4rem;
    }

    .account-modal .modal-body .row .slogan-left .tab-content .signup-tab {
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 768px){
    .account-modal .modal-body .close-btn{
        color: #FFF;
    }

    .account-modal .modal-body .row .slogan-right .logo img {
        width: 40px;
    }

    .account-modal .modal-body .row .slogan-right .nav-pills{
        flex-direction: row !important;
        justify-content: center;
    }

    .account-modal .modal-body .row .slogan-right .nav-pills .nav-link{
        margin-bottom: 0 !important;
        padding: 15px 25px;
    }

    .account-modal .modal-body .row .slogan-right .nav-pills .nav-link:not(:last-of-type){
        margin-left: 10px;
    }

    .account-modal .modal-body .row .slogan-right .nav-pills .nav-link .link-bg{
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}

@media screen and (max-width: 425px){
    .account-modal .modal-body .row .slogan-left .tab-content .login-tab {
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 375px){
    .account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .controls .submit-btn,
    .account-modal .modal-body .row .slogan-left .tab-content .signup-tab form .form-group .controls .submit-btn{
        width: 50px;
        height: 50px;
    }
}
 @media screen and (max-width: 320px){
    .account-modal .modal-body .row .slogan-left .tab-content .login-tab,
    .account-modal .modal-body .row .slogan-left .tab-content .signup-tab{
        padding: 4rem 1rem;
    }

    .account-modal .modal-body .row .slogan-left .tab-content .login-tab form .form-group .pass-field .form-control {
        padding: 10px 20px 10px 140px;
    }
}